# Capital Bikeshare

Objetivo: Realizar uma previsão sobre a demanda de aluguel de bicicletas da empresa Capital Bikeshare, relacionando o consumo do serviço com os fenomenos climáticos da cidade de Washigton, nos Estados Unidos.

## Exploração dos Dados

Pré-Processamento dos Dados

In [3]:
### Import libs
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

### Dataset

http://archive.ics.uci.edu/ml/datasets/Bike+Sharing+Dataset

In [4]:
### Data

df_station = pd.read_csv('https://raw.githubusercontent.com/vidhi-am/tds_articles/master/AV_blogathon/Data_preparation_FeatureEngg/station_data.csv')
df_trip = pd.read_csv('https://raw.githubusercontent.com/datacodebr/tds_articles/eb2066870dad7f2708f43cab1072982fe77c4ebf/AV_blogathon/Data_preparation_FeatureEngg/trip_data.csv')
df_weather = pd.read_csv('https://raw.githubusercontent.com/vidhi-am/tds_articles/master/AV_blogathon/Data_preparation_FeatureEngg/weather_data.csv')

In [10]:
#Station data

,Id,Name,Lat,Long,Dock Count,City
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose

In [9]:
#Trip data
df_trip.head()

,Trip ID,Start Date,Start Station,End Date,End Station,Subscriber Type
0,913460,31/08/2015 23:26,50,31/08/2015 23:39,70,Subscriber
1,913459,31/08/2015 23:11,31,31/08/2015 23:28,27,Subscriber
2,913455,31/08/2015 23:13,47,31/08/2015 23:18,64,Subscriber
3,913454,31/08/2015 23:10,10,31/08/2015 23:17,8,Subscriber
4,913453,31/08/2015 23:09,51,31/08/2015 23:22,60,Customer

In [ ]:
#Weather data
df_weather.head()

#####  Station data

In [ ]:
df_station.head()

In [ ]:
df_station.shape

#####  Trip data

Máquina Preditiva